flask
flask-cors
flask-caching
uvicorn[standard]
peewee==3.17.0
slowapi
fastapi>=0.101.0,<0.102.0
fastapi-cache2
orjson
aiohttp[speedups]
async-lru
gelidum
uvloop
opshin>=0.24.0
click>=8.1.3
peewee==3.17.0
pytest==8.0.2
pytest-asyncio==0.23.5
pyjwt==2.8.0
cryptography==36.0.2
pycardano>=0.12.0