flask
flask-cors
flask-caching
uvicorn[standard]
peewee==3.17.0
slowapi
fastapi>=0.101.0,<0.102.0
fastapi-cache2
orjson
aiohttp[speedups]
async-lru
gelidum
uvloop
opshin>=0.16.0
click>=8.1.3
peewee==3.17.0
pytest==8.0.2
pytest-asyncio==0.23.5
pyjwt==2.8.0
cryptography==36.0.2
git+https://github.com/MuesliSwapLabs/pycardano.git@5d9da9d865c59e71fdc71e51aff7cc362abe3d32